<p id="notice"><%= notice %></p>
<h1>Shops</h1>

<%= link_to 'New Shop', new_shop_path %>
<div class="row">
  <div class="col col-md-3">
      <%= form_with(model: @shop) do |form| %>
      <%= form.label :Buscar %>
      <%= form.text_field :search, class: 'form-control'%>
  <% end %>
  </div>
  
</div> <br>
<div class="row">
    <% @categories.each do |category|  %>
    <div class="card bg-dark text-white">
        <%= image_tag category.image.variant(resize: '400x400'), class:"card-img" %> 
        <div class="card-img-overlay">
          <h1 class="card-title"><span class="badge badge-secondary"><%= category.name %></span></h1>
         <h1><span class="badge badge-secondary"><%= category.products.count%></span></h1>
          <a class="btn btn-success" href="<%= shop_category_path(category.shop,category)%>">ir</a>
        </div>
      </div>
    <% end %>
  </div><br>
<div class="row">
  <div id="shops">

  </div>
<script>
  $('#search').keyup(function(){
    $.ajax({
      type: "GET",
      url: "<%= search_shops_path%>",
      data: {search: $('#search').val()},
      success: function (response) {
              
      }
});
  });
</script>